/* Basic visual styles */
html, body {
    color: white;
    background-color: #111;
}

input, textarea, select, button {
    background-color: #1d1d1b;
    border-color: #565046;
    color: #e8e6e3;
}

input:disabled, textarea:disabled, select:disabled, button:disabled {
    background-color: #32312f;
    border-color: #524c43;
    color: #8d8983;
}

button:not(:first-child) {
    margin-left: .5em;
}

a {
    color: #3399ff;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

::placeholder {
    color: #b2aba1;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #555b00 !important;
    color: #e8e6e3 !important;
}

.errormessage {
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    color: #ff8080;
    background-color: #290200;
    border: 2px solid #5c0801;
}

.warnmessage {
    font-size: 1.1em;
    padding: 0.7em;
    margin: 1em;
    border-radius: 1em;
    color: #f2ab25;
    background-color: #332b00;
    border: 2px solid #665500;
}

/* Basic layout */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.centered {
    max-width: 70em;
    margin: 1em auto;
}

section {
    padding: 1em;
}

/* Container Formatting */

section#main {
    padding: 0em;
}

#log, #api-log {
    font-family: monospace;
}

.img-container {
    margin: 5px;
    background: rgba(84, 91, 94, .5);
}

.img-container:hover {
    border: 3px solid gray;
    margin: 2px;
}

/* Collapseable Containers */

.collapsable {
    display: inline-block;
    border: 1px dashed #333;
    padding: 7px;
}

.collapsed > .collapsable, .collapsed.collapsable{
    display: none;
}

.collapse-button::after {
    content: " -";
    color: #3399ff;
}

.collapsed .collapse-button::after {
    content: " +";
}

/* User plaques */

li.person {
    display: inline-block;
    margin: 7px;
}

.person-icon {
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: #1d1d1d;
    border-radius: 5px;
    padding: 7px;
}

.person-icon:hover {
    background-color: #252525;
}

.person a {
    text-decoration: none;
    color: rgb(84, 192, 255);

}

.circle-icon img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.person-name {
    display: inline-block;
}

.person-displayname {
    display: block;
}

.person-username {
    display: block;
    color: #777
}

/* Loading Bar */

#loading {
    width: 90%;
    margin: auto;
}

#progressbar {
    background-color: black;
    border: 2px solid #777;
    border-radius: 1.5em;
    padding: 3px;
}
  
#progressbar>#progress {
    background-color: #3f9;
    width: 0%;
    height: 1.5em;
    border-radius: 1.5em;
}
  
#loading #message {
    font-family: monospace;
    text-align: center;
}